* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5dc;
}

.login {
  background-color: aliceblue;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 8px;
  text-align: center;
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

input,
label {
  display: block;
  width: 100%;
  text-align: left;
}

input {
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

button {
  height: 30px;
  width: 100px;
  border: 3px solid black;
  border-radius: 8px;
}
